<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Student System</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>
  <body>
    <div class style="padding-bottom:5%;">
      <div class="booking-form3">
          <h3 style="color: bisque;padding-top: 5%;">Update Student Details</h3>
    
    <form method="POST" action="/update/{{student.sName}}" class="forma">
      {% csrf_token %}

      <div class="form-group">
        <label class="form-label">Roll no.:</label>
        
        <input type="text" name="sRollno" value="{{student.sRollno}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Email:</label>
        
        <input type="text" name="sName" value="{{student.sName}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Logo:</label>
        <input type="text" name="sAddress" value="{{student.sAddress}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Url:</label>
        <input type="text" name="sEmail" value="{{student.sEmail}}" />
      </div><br>
      <div class="form-group">
        <label class="form-label">Url:</label>
        <input type="text" name="sCourse" value="{{student.sCourse}}" />
      </div><br>
      <div class="form-group">
        <label class="form-label">Url:</label>
        <input type="text" name="sFeeStatus" value="{{student.sFeeStatus}}" />
      </div><br>

      <button type="submit" class="btn-success">Submit</button>
    </form>
  </div>
    </div>
  </body>
</html>
