<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      

  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>


    </ul>
  </div>
</nav>
    <center><div><h2 class="bg-white text-dark">List of Student Result(marks)</h2></div></center>
    <table class="table">
      <thead class="bg-white text-dark">
        <tr>
          <th>Student Rollno</th>
          <th> Student Name</th>
          <th>Course</th>
          <th>Max Marks</th>
          <th>Marks Obtained</th>
          <th>Result</th>
        </tr>
      </thead>

      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.Rollno}}</td>
          <td>{{employee.Name}}</td>
          <td>{{employee.Course}}</td>
          <td>{{employee.MaxMarks}}</td>
          <td>{{employee.MarksObtained}}</td>
          <td>{{employee.Result}}
            
            <button class="btn-danger btn-sm" onclick="location.href='/deleteEmp/{{employee.Name}}'">Delete</button>
            <button class="btn-success btn-sm" onclick="location.href='/editemp/{{employee.Name}}'">Update</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
